@font-face {
  font-family: "Noto Sans";
  src: url(./src/assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf)
  format("truetype-variations");
  font-display: swap;
  font-weight: 100 900;
}

:root {
  /* Colors */
  --clr-neutral-900: hsl(227, 75%, 14%);  
  --clr-neutral-800: hsl(226, 25%, 17%);  
  --clr-neutral-700: hsl(225, 23%, 24%);  
  --clr-neutral-600: hsl(226, 11%, 37%);  
  --clr-neutral-300: hsl(0, 0%, 78%);  
  --clr-neutral-200: hsl(217, 61%, 90%);  
  --clr-neutral-100: hsl(0, 0%, 93%);  
  --clr-neutral-0: hsl(200, 60%, 99%);
  --clr-red-400: hsl(3, 86%, 64%);
  --clr-red-500: hsl(3, 71%, 56%);
  --clr-red-700: hsl(3, 77%, 44%);

  /* theme dependent variables (default for dark theme) */
  --title-color: var(--clr-neutral-0);
  --text-color: var(--clr-neutral-300);
  --btn-text-color: var(--clr-neutral-0);
  --switch-btn-bg-color: var(--clr-red-400);
  --remove-btn-bg-color: var(--clr-neutral-600);
  --bg-neutral-800: var(--clr-neutral-800);
  --bg-neutral-700: var(--clr-neutral-700);
  --icon-dark: var(--clr-neutral-0);
  --border-color: var(--clr-neutral-600);
  --hover-color: var(--clr-neutral-900);
  --gradient-color-1: #04091b;
  --gradient-color-2: #091540;

  --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* font */
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-34: 2.125rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-1: 1;
  --lh-12: 1.2;
  --lh-14: 1.4;

  /* spacing */
  --sp-0: 0;
  --sp-2: 0.125rem;
  --sp-4: 0.25rem;
  --sp-6: 1.375rem;
  --sp-8: 0.5rem;
  --sp-10: 0.625rem;
  --sp-12: 0.75rem;
  --sp-16: 1rem;
  --sp-20: 1.25rem;
  --sp-24: 1.5rem;
  --sp-32: 2rem;
  --sp-40: 2.5rem;
  --sp-48: 3rem;
  --sp-64: 4rem;
  --sp-80: 5rem;
}  

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
  color: var(--text-color);
  font-family: 'Noto Sans', system-ui, sans-serif;

  &.light {
    --title-color: var(--clr-neutral-900);
    --text-color: var(--clr-neutral-600);
    --btn-text-color: var(--clr-neutral-900);
    --switch-btn-bg-color: var(--clr-red-700);
    --remove-btn-bg-color: var(--clr-neutral-0);
    --bg-neutral-800: var(--clr-neutral-0);
    --bg-neutral-700: var(--clr-neutral-100);
    --icon-dark: var(--clr-neutral-900);
    --border-color: var(--clr-neutral-200);
    --hover-color: var(--clr-neutral-0);
    --gradient-color-1: #ebf2fc;
    --gradient-color-2: #eefbf9;
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-image: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
}

img, 
picture, 
video,  
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

/* utilities */

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--sp-16);
}

.text-preset-1 {
  font-size: var(--fs-34);
  font-weight: var(--fw-bold);
  line-height: var(--lh-1);
  letter-spacing: -1px;
}

.text-preset-2 {
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
  line-height: var(--lh-12);
  letter-spacing: -0.2px;
}

.text-preset-3 {
  font-size: var(--fs-20);
  font-weight: var(--fw-regular);
  line-height: var(--lh-14);
  letter-spacing: -0.3px;
}

.text-preset-4 {
  font-size: var(--fs-20);
  font-weight: var(--fw-medium);
  line-height: var(--lh-14);
  letter-spacing: -0.3px;
}

.text-preset-5 {
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: var(--lh-14);
  letter-spacing: -0.5px;
}

.text-preset-6 {
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: var(--lh-14);
  letter-spacing: -0.5px;
}

/* ------------------------ */
input, 
button, 
textarea, 
select {
  font: inherit;
}

p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  color: var(--clr-dark-grayish-blue);
  line-height: var(--lh-1-73);
}
    
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  text-wrap: balance;
  color: inherit;
}

ol, 
ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
}